$black: #000;
$white: #fff;
$bgBlack: #141414;
$accentRed: #c00;
$textWhite: #efefef;
$darkGray: #252525;
$lightGray: #5e5e5e;

$lg-breakpoint: 1100px;
$md-breakpoint: 800px;
$sm-breakpoint: 500px;

$generalPadding: 4%;
