@import "../../styles/variables.scss";

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;

  background-image: linear-gradient(to bottom, $black, $bgBlack);
  
  .scroll_zero {
    background-image: linear-gradient(to bottom, $bgBlack, transparent);
  }

  a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  a:hover {
    color: beige;
  }

  .nav__left,
  .nav__right {
    padding: 16px 4%;
    width: fit-content;
    display: flex;
    align-items: center;
  }

  .propic {
    border-radius: 4px;
  }

  .icon {
    cursor: pointer;
  }

  #logo {
    margin-right: 24px
  }
}
