@import "../../styles/variables.scss";

.container {
  padding: $generalPadding ($generalPadding * 3);
  display: flex;
  flex-flow: column nowrap;
  background-color: $bgBlack;
  color: $lightGray;
  font-size: 14px;

  &__social_links {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__footer_links {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;

    &__link {
      width: 25%;
      margin: 8px 0;
    }
  }

  &__service {
    width: fit-content;
    padding: 8px;
    margin: 32px 0;
    border: 1px solid $lightGray;
  }

}
